@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

* {
  font-family: 'Amatic SC';
}

//Navbar ====================
.logo{
  max-width: 60px;
  padding:5px;
}

nav.navbar {
  height: 60px;
}
.navbar-item{
  font-size: 30px;
  font-weight: bold;
  padding:10px;
}

.navbar-item:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}


//Home ====================

.hero {
  z-index: -1;
}

.is-fullheight-with-navbar{
  background-position: center;
  background-size: cover;
}

.hometitle {
  font-size: 140px;
  font-weight: 75px;
  color: white;
  text-shadow: -3px -3px 0 rgb(81, 85, 106), 3px -3px 0 rgb(81, 85, 106), -3px 3px 0 rgb(81, 85, 106), 3px 3px 0 rgb(81, 85, 106);
}

.homesubtitle {
  font-size: 30px;
  font-family: sans-serif;
  color: rgb(81, 85, 106);
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

//Cabins Index ====================

canvas.mapboxgl-canvas {
  border: 1px solid rgb(81, 85, 106);
  border-radius: 20px;
}

.map-list {
  font-weight: bold;
  padding-left: 10px;
}

button.button.is-light {
  margin-right: 5px;
  margin-bottom: 5px;
}

section.section {
  padding: 10px;
}

.marker {
  width: 25px;
}

.popupimage {
  width: 250px;
  border: 1px solid rgb(81, 85, 106);
}

.popup {
  border: 2px solid rgb(81, 85, 106);
  background: white;
}

// Cabin Show
